.container {
    color: #023149;
    background-image: linear-gradient(white, #d1e1e9a4);
    font-family: "Roboto", sans-serif;
    margin: 0 20px;
    padding: 15px;
    border-radius: 10px;
    height: 85vh;

    h1 {
        margin-left: 5vw;
    }

    h4 {
        text-align: center;
        color: #023149;
        cursor: pointer;
        &:hover {
            color: #06618f;
        }
    }

    form {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        
        input {
            padding: 0.75rem;
            border-radius: 3px;
            border: 1px solid #023149;

            &#taskInput {
                width: 40%;
            }
        }
    
        button {
            padding: 0.75rem;
            border-radius: 3px;
            cursor: pointer;
            border: 1px solid #023149;
            background-color: #ffffff;
    
            &:hover {
                background-color: #023149;
                color: white;
            }
        }
    }
}

