<table *ngIf="todos.length > 0">
    <thead>
        <tr>
            <th>Due</th>
            <th id="task">Task</th>
            <th>Created</th>
            <th>Completed</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td [ngClass]="{overdue: isOverdue(todo.dateDue) && !todo.done}">{{ todo.dateDue | date }}</td>
            <td [ngClass]="{done: todo.done}">{{ todo.task }}</td>
            <td>{{ todo.createdAt | date }}</td>
            <td align="center"><input type="checkbox" (change)="toggleCompletedStatus(todo)" [checked]="todo.done"></td>
            <td align="center"><button (click)="deleteTodo(todo)">Delete</button></td>
        </tr>
    </tbody>
</table>

<h4 *ngIf="todos.length === 0">No tasks for today! Create a task below to get started.</h4>
